.header {
    height: 60px;
    max-width: 900px;
    background-color: lightsalmon;

}

.h2 {
justify-self: center;
    font-size: 38px;
    font-weight: 700;
    padding: 0 0 0 220px;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 900px;
    height: 60px;

}

.home {
    font-size: 20px;
    padding: 0 20px;
}

.picture {
    font-size: 20px;
    padding: 0 20px;
}