.header {
    height: 60px;
    max-width: 900px;
    background-color: lightsalmon;

}

.h2 {
    font-size: 38px;
    font-weight: 700;
    padding: 0 0 0 200px;

    align-self: center;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 900px;
    height: 60px;
}

.home {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 15px;
}

.home:hover {
    text-shadow: 0 0 5px grey;
}

.info {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 15px;
}

.info:hover {
    text-shadow: 0 0 5px grey;
}

.form {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 15px;
}

.form:hover {
    text-shadow: 0 0 5px grey;
}
